<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<!-- compiled css output -->
		<link href="css/ionic.app.css" rel="stylesheet">

		<script type="text/javascript" src="http://cdn.gameplayer.io/api/js/game.js"></script>
    	<script type="text/javascript" src="http://cdn.gameplayer.io/api/js/developer.js"></script>


		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="lib/CSSPlugin.min.js"></script>
		<script src="lib/CSSRulePlugin.min.js"></script>
		<script src="lib/EasePack.min.js"></script>
		<script src="lib/TweenLite.min.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
		<style type="text/css">
			.land{
				display: none;
			}
			@media (orientation: landscape) {
				.pane {
					display: none;
				}
				.land{
					background: url('img/orientation.png') no-repeat center center #CD122F;
					width: 100%;
					height: 100%;
					display: inherit;
				}
				body{
					background-color: #CD122F;
				}
			}
		</style>
	</head>
	<body ng-app="starter">
		<div class="wrapper">
			<ion-pane>
				<ion-content>
					<div class="radial" ng-controller="DataController">
						<div class="cache-images" ng-repeat="tempURL in preloadSrc">
							<img ng-src="{{ tempURL }}">
						</div>
						<div ng-class="{'deactive':!isPause}" class="pause-modal" ng-click="unPause()">
							<button class="button button-block button-pause-init" ng-click="unPause()">CONTINUE</button>
						</div>

						<h3 class="main-color app-name" ng-class="{'deactive':pageTitle === ''}">{{pageTitle}}</h3>
						<div class="in-game" ng-class="{'deactive':gameStatus !== 0}">
							<img class="logo" src="img/logo-all.png">
							<button class="button button-block button-play-init" ng-click="showGame()" >
								Play
							</button>
							<div class="button-more-init" id="more-games-button">
								More Games
							</div>
						</div>
						<div class="list card center in-game" ng-class="{'deactive':gameStatus !== 1}">
							<div class="image-container teste">
								<div class="pokemon-container">
									<span class="loading"></span>
									<img  class="img-resize spinner" ng-src="{{ currentQuestion.correctPokemon.url }}" ng-cloak imageonload>
								</div>
							</div>
							<div ng-class="{'active':!waiting , 'wrong': !isCorrect , 'correct': isCorrect}" class="result">{{ resultAnsware }}</div>
							<div class="top-UI">
								<!-- <button class="button button-clear white-back-ico stop" ng-click="endGame()"></button> -->
								<button class="button button-clear white-back-ico stop" ng-click="backToInit()"></button>
								<button class="button button-clear white-refresh-ico restart" ng-click="restart()"></button>
								<!-- <h3 class="points">{{points}}</h3> -->
								<h3 class="time">{{time}}</h3>
							</div>
							<div class="round-container" >
							  <div class="round round-default" ng-class="{'round-current':currentRound === $index, 'round-correct':round === 1, 'round-wrong':round === -1}" ng-repeat="round in rounds track by $index">
							  <!-- {{$index + 1}} -->
							  </div>
							<div class="time-container">
							  	<div class="time-bar-back"></div>
								<div class="time-bar"></div>
							</div>
							</div>
							<div class="buttons-container">
								<div ng-repeat="question in currentQuestion.options">
									<button class="button button-block button-clear button-size button-question"  ng-class="{'correct':!waiting && currentQuestion.correctPokemon.name === question, 'wrong':!waiting && lastClicked === question && currentQuestion.correctPokemon.name !== question}" ng-click="clickQuestion(question)">
										{{ question }}
									</button>
								</div>
							</div>
						</div>
						<div class="end-game" ng-class="{'deactive':gameStatus !== 2}">
							<div class="end-game-modal">
								<h3>{{finalResult}}</h3>
								<h1>You are</h1>
								<h2>{{resultTitle}}</h2>
								<h4>{{resultDesc}}</h4>
								<button class="button button-clear red-back-ico stop" ng-click="backToInit()"></button>
								<button class="button button-clear red-refresh-ico restart" ng-click="restart()"></button>
							</div>
						</div>
					</div>
				</ion-content>
			</ion-pane>
		</div>

		<script type="text/javascript">
			setTimeout(function(){
				document.querySelectorAll('.pane')[0].classList.add('pane-ie');
				var SpilData = {
					id: '576742227280295406' // Replace with the value you receive from Spil Games
				};

				GameAPI.loadAPI (function (apiInstance) {
					// console.log(apiInstance)

					// adds a more games button to the screen
			        var buttonProperties = apiInstance.Branding.getLink('more_games');

			        // Creates a link element
			        var link = document.getElementById('more-games-button');

			        // assign the outgoing click
			        link.href = "javascript:void(0);";
			        if(detectmob()){
				        link.ontouchend = buttonProperties.action;
				    }else{
				        link.onclick = buttonProperties.action;
				    }
			        link.setAttribute("id", "spilgames-more-games-btn");
			        link.innerHTML = "More Games";
			        // Other functions you can use of the Spil Game API have been removed in this code example

			        // Retrieves the logo from Spil
			        var logoData = apiInstance.Branding.getLogo();

			        // Shows the logo only when it is configured; otherwise, ignore it.
			        if (logoData.image) {
			            // Creates an element and shows the image
			            var logo = document.createElement('img');
			            logo.src = logoData.image;
			            if (logo.addEventListener) {
			            	if(detectmob()){
			                	logo.addEventListener('touchend', logoData.action);
			            	}
			                else{
			                	logo.addEventListener('click', logoData.action);
			                }
			            } else if (logo.attachEvent) {
			            	if(detectmob()){
			                	logo.attachEvent('touchend', logoData.action);
			            	}
			            	else{
			                	logo.attachEvent('click', logoData.action);
			            	}
			            }
			            logo.className += " spilgames-branding-image";
			            document.body.appendChild(logo);
			        }

			        function detectmob() {
						if(navigator.userAgent.match(/Android/i)
							||navigator.userAgent.match(/webOS/i)
							||navigator.userAgent.match(/iPhone/i)
							||navigator.userAgent.match(/iPad/i)
							||navigator.userAgent.match(/iPod/i)
							||navigator.userAgent.match(/BlackBerry/i)
							||navigator.userAgent.match(/Windows Phone/i)
						){
							return true;
						}
						else{
							return false;
						}
					}
			        apiInstance.Branding.displaySplashScreen(function(){
                //APP.initApplication();
            		});

			  //       function pauseGame() {
					//     // Insert here the logic to pause your game
					//     if (window.console && window.console.log) {
					//         console.log(cope.isPause);
					//     }
					// }

					// function resumeGame() {
					//     // Insert here the logic to resume your game
					//     if (window.console && window.console.log) {
					//         console.log('The advertisment is shown and your game can now be resumed');
					//     }
					// }
					// GameAPI.GameBreak.request(pauseGame, resumeGame);


				}, SpilData)
			},100);
		</script>
		<style>
		    .spilgames-branding-image{
		        display: block;
		        height: 40px;
		        left: 0;
		        right: 0;
		        margin: 0 auto;
		        bottom: 0px;
		        position: absolute;
		        z-index: 999;
		    }
	    </style>
	</body>

</html>